:root {
  --sotetbarna: rgb(95, 34, 9);
  
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(206, 204, 200);
  color: var(--sotetbarna);

}

.main-container {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  min-width: 30rem;
}

.nagyDiv {
  
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 20px;
  transition: all 0.5s;
  
  background-color: rgba(67, 67, 67, 0.103);
}



.kocsiKep {
  border-radius: 20px;
  margin-top: 50px;
  width: 40vw;
  height: 20vw;
  object-fit: fill;
  cursor: pointer;
}

.sokKocsisDiv {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    border-radius: 20px;

  
    height: 20vw;
    object-fit: fill;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.6s ease-out forwards;
    transition: 0.5s;
  }

  img:hover 
  {
    }



}

.product-details {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(193, 187, 174);
  min-width: 15rem;
  margin-top: 2rem;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.list-item {
  display: flex;
  width: 19rem;
  justify-content: space-between;
  border: 1px solid var(--sotetbarna);
  border-radius: 1rem;
  padding: 0 2rem;
  transition: all 0.2s;
  cursor: pointer;
}

.list-item:hover {
  transform: scale(1.07);
}

.selected-item {
  background-color: rgb(193, 187, 174);
  transform: scale(1.07);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: none;
  padding: 0px 40px;
}

.carousel-container{
  display: flex;
  justify-content: top;
  align-items: top;
}

.car-list{
    background-color: rgba(255, 255, 255, 0.253);
    width: auto;
    border-radius: 1rem;
    padding: 10px 
}

.filter-buttons {
  display: flex;
  gap: 0.2rem;
}

button {
  background-color: rgba(0, 0, 0, 0.041);
  color: rgb(95, 34, 9);
  border: 1px solid rgb(95, 34, 9);
  transition: all 0.2s;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.kosarhozAdas {
  width: 10rem;
  font-size: 20px;
}

.kosarba-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: rgb(193, 187, 174);
  min-height: 10rem;
}

.kosarbanLevoElem {
  min-width: 15rem;
  padding: 0 10px;
  border-radius: 1rem;
  background-color: rgb(209, 203, 188);
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;

  button {
    border: none;
    border-radius: 0.5rem;
    padding: 10px;
  }
}

button:hover {
  background-color: rgb(193, 187, 174);
  
}

.urites {
  background-color: var(--sotetbarna);
  color: whitesmoke;
  margin-bottom: 0.5rem;
}

.urites:hover {
  background-color: var(--sotetbarna);
}

button:active {
  background-color: rgb(193, 187, 174);
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;

  
  justify-content: center;
  align-items: center;
 

}